# OLA API credentials
OLA_API_KEY=REPLACE_WITH_YOUR_OLA_API_KEY
OLA_DIRECTIONS_URL=https://api.olamaps.io/routing/v1/directions

# GOOGLE API credentials
GOOGLE_API_KEY=REPLACE_WITH_YOUR_GOOGLE_API_KEY 
GOOGLE_AQI_URL=https://airquality.googleapis.com/v1/currentConditions:lookup
GOOGLE_WEATHER_URL=https://weather.googleapis.com/v1/currentConditions:lookup

#POSTGRES DATABSE URL
DATABASE_URL=

#JWT
JWT_SECRET=